#leftside {
	min-width: 25%;
	min-height: 90%%;
	max-width: 25%;
	max-height: 90%;
	height:90%;
	float: left;
	top:0;
	left:0;
	position: absolute;
	border: 1px;
	border-style:none solid none none;	
	display: inline-block;
    background:#71a8d4;
	color:#ffffff;
	font-weight:bold;
    
}

#rightside {
	min-width: 75%;
	min-height: 100%;
	height:100%;
	position: absolute;
	border: 0px solid;	
	float:right;
	top:0;
	right:0;
    background:	#ffffff;
	color:#0000ff;
}

#fields{
	margin:1%;
	font-size:25 px;
	color: #191966;
	font-weight:bold;
	text-align:left;
}
