
/*mainpage*/
#header{
	min-width: 100%;
	min-height: 5%;

	max-width: 100%;
	max-height: 5%;

	width: 100%;
	height: 5%;

	margin:auto;
	padding: auto;
	
	top:0;
	position: fixed;
	overflow:none;

	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

	font-weight:bold;
	font-size:15px;

	vertical-align:center;

	/*background-color:#43A047;*/
	color:#fff;
}
.mdl-layout__header{
	background-color:#f78f1e;
	font-weight:bold;
	font-size:22px; 
	z-index:0;
}
#leftside {
	min-width: 30%;
	min-height: 95%;

	max-width: 30%;
	max-height: 95%;

	width: 30%;
	height: 95%;
	
	float: left;
	
	position:fixed;
	overflow:auto;


	border: 0px;
	border-style:none solid none none;	
	/*padding-left:10px;*/
	padding-top:0.5%;

	font-weight:bold;
	font-size:20px;

	
	/*opacity:1;*/
	background-color:#eee;

	/*border*/
	/*color:#1e88e5;*/
   
}

#rightside {
	min-width: 70%;
	min-height: 95%;

	min-width: 70%;
	min-height: 95%;
	
	width: 70%;
	height: 95%;
	
	float: center;

	right:0;
	position: fixed;
	
	overflow:auto; 

	border: 0px solid;
	border-color:#00f;
	padding-left:5%;
	padding-right:5%;
	padding-top:3%;
	padding-bottom:3%;	

	/*margin-top: auto;	*/
    
	font-size: 20px;

	/*background-color:#eeeeee;*/
	color:#000;
}
/*leftside*/

#tree{
	min-width:100%;
	min-height:92%;
	max-width:100%;
	max-height:92%;
	width:100%;
	height:92%;
	overflow:auto;

	/*bullets*/
	color:#056839;/*background-color:#4fc3f7;*/
}
/*tree-elements*/
.mdl-data-table{
	padding-top:0px;
	padding-bottom: 0px;
	margin: 0px 0px 2px 2px;
}
.mdl-textfield{
	min-width:200px;
	width:auto;
	padding-top:0px;
	padding-bottom: 0px;
	margin: 2px 2px 0px 0px;
	color:#056839;
}
/*right-side select trial type drop down*/
#fields{
	position:fixed;
	margin:10%;
	
	column-width: 100px;
	display: inline-block;

	font-weight:bold;
	font-size-adjust:25 px;
	text-align:left;
	
	color:#1e88e5;;
}

#buttonpanel{
	width:100%;
	min-width:100%;
	max-width:500px;

	overflow: none;
	display:inline-flex;

	position:fixed;
	bottom:0;
	left:0;
	margin-bottom: 0.5%;
	margin-left:0.1%;

	/*background-color: #f00;*/

}
.xxx{
	width: 0.1px;
	height: 0.1px;
	display:inline-flex;
	opacity: 0;
	
	overflow: hidden;
	position: absolute;
	
	z-index: -1;
}

.mdl-button {
		
	margin:0.5%;
	/*margin-right:0.5%;*/

	padding:0.5%;

	border-radius:6px;

	font-size:18px;
	/*font-weight:bold;*/
	vertical-align:middle;
	text-align:center;
	line-height:20px;

	background-color: #1c8;
	color: #fff;
}
.mdl-button:hover{

	margin:0.5%;
	/*margin-right:0.5%;*/

	padding:0.5%;

	border-radius:6px;

	font-size:18px;
	font-weight:bold;
	vertical-align:middle;
	text-align:center;
	line-height:20px;

	box-shadow: 0 6px 6px 0 rgba(117, 117, 117, 1);

	/*background-color: #fff;*/
	color: #00897B;
} 

.mdl-button:active:focus{
	margin:0.5%;
	/*margin-right:0.5%;*/

	padding:0.5%;

	border-radius:6px;

	font-size:18px;
	font-weight:bold;
	vertical-align:middle;
	text-align:center;
	line-height:20px;

	/*background-color: #fff;*/
	color: #00897B;
}
.mdl-button:focus{
	margin:0.5%;
	/*margin-right:0.5%;*/

	padding:0.5%;

	border-radius:6px;

	font-size:18px;
	font-weight:bold;
	vertical-align:middle;
	text-align:center;
	line-height:20px;
}

.fileUpload {
    position: absolute;
    overflow: hidden;
    
    margin:0.5%;
	/*margin-right:0.5%;*/

	padding:0.5%;

	border-radius:6px;

	font-size:18px;
	/*font-weight:bold;*/
	vertical-align:middle;
	text-align:center;
	line-height:20px;

	background-color: #1c8;
	color: #fff;
}
.fileUpload input.upload {
    position: absolute;
    
    margin: 0;
    cursor: pointer;
    opacity: 0;
    /*filter: alpha(opacity=0);*/
    text-decoration:none;

    margin:0.5%;
	/*margin-right:0.5%;*/

	padding:0.5%;

	border-radius:6px;

	font-size:18px;
	/*font-weight:bold;*/
	vertical-align:middle;
	text-align:center;
	line-height:20px;

	background-color: #1c8;
	color: #fff;
}

a:link,a:visited {
  
	width:inherit;
	margin:1%;
	display:inline-block;  
	border-radius:2px; 

	border-bottom: 0px solid #90caf9;

	padding-top:2px;
	padding-bottom:2px;
	padding-left:5px;

	font-size: 20px;
	text-decoration: none;

	color: #056839;
	background-color: transparent;

}
a:hover {

  width:inherit;
  display:inline-block;
  border-radius:2px; 

  border-bottom: 0px solid #bbdefb;
  
  
  padding-top:2px;
  padding-bottom:2px;
  padding-left:5px;

  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  
  background-color: transparent;
  color:#056839;
}

a:active {

  width:inherit;
  display:inline-block;
  border-radius:2px; 

  border-bottom: 0px solid #1e88e5;
  
  
  padding-top:2px;
  padding-bottom:2px;
  padding-left:5px;

  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  
  background-color: transparent;
  color:#056839;
}



.rightButtonPanel {
	float: right;
	position: relative;
	top: -48px;
	right: 30px;
}

#right-side-form{

	position: relative;
	float: center;

	padding:1%;
	/*margin:2px;*/
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

	/*background-color:#E0F2F1;*/
	background-color:#FFF8E1;
}

.listy{
	list-style: none;
}
