
/* JSON Editor */
.jsonEditor > .jsonObject {
  margin:auto;
  width:100%; 
}

.jsonEditor * {
  vertical-align: center;
  margin:auto;
}

/*textbox area*/
.jsonChildren {
  width:60%;

  margin:auto;
  
  padding-top: 2%;
  padding-bottom:5%;
  
  display:block;

  font-weight: normal;
  border: 0px solid;
  /*border-color: #f00;
  color:#f00;*/
  /*background-color:#b4b0b4;*/

}
.jsonCompound.open > .jsonChildren {
  display: block;
  position:relative;
}
.jsonFieldAdder {

  margin:auto;
  display:inline;

}
.jsonFieldAdder select {
  margin:auto;

}
.compoundToggle:before {
  content: '▸';
  
  line-height: 1em;
  margin:auto;

  color: #333;
}
.open > .compoundToggle:before {
  content: '▾';

  line-height: 1em;
  margin:auto;
}

.jsonName {
  
  width:100%;
  
  padding-top:1%;
  padding-bottom:1%;

  display:inline;

  border:0px solid;
  border-color:#131313;

  text-align: left;
  /*font-style: italic;*/
  color:#00897b;
}

.jsonValue {
  
  width:90%;
  
  margin:auto;
  display:inline;  

  border-left:2px solid;
  border-right:2px solid;
  border-top:8px solid;
  border-bottom: 9px solid;
  border-color:#039be5;
  color:#000;

}

.jsonValue > input,
.jsonValue > textarea,
.jsonValue > select {
  display:inline;

  margin:auto;
  
  border:5px solid;
  border-color:#039be5;
  width:90%;
}


.jsonRemove, .jsonFixed {
  visibility: hidden;
  margin:auto;
  text-decoration: none;
  width: .6em;
  display: inline-block;
}

.jsonName:hover > .jsonRemove {
  visibility: visible;
}
pre {
  border: 1px solid #ddd;
  padding: 5px;
  width: 180px;
  margin: auto;
  background: #eee;
}

.compoundToggle, .jsonString{
  cursor: pointer;
}

.booleanField * {
  vertical-align: middle;
}

.booleanField input {
  margin-bottom: 0;
}

.jsonError > .jsonName,
.jsonError .jsonErrorMsg {
  color: #f36;
}

.jsonError .jsonErrorMsg {
  margin: 0 0 10px 10px;
  font-size: 0.9em;
  vertical-align: bottom;
  display: block;
}

.jsonError > .jsonValue input,
.jsonError > .jsonValue select,
.jsonError > .jsonValue textarea {
  background-color: #fff8f8;
}

